<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="admin/admin_layout">
<head>
    <title th:text="${titulo}"></title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container-fluid px-2 px-md-3">
            <section class="content-header">
                <div class="card">
                    <div class="card-header">
                        <i class="fas fa-truck-moving mr-2"></i> <span th:text="${titulo}"></span>
                    </div>

                    <div class="toolbar">
                        <a th:href="@{/proveedor/listarProveedores}" class="btn btn-outline-primary btn-sm">
                            <i class="fas fa-list mr-1"></i> Listado
                        </a>
                    </div>

                    <div class="card-body">
                        <div th:object="${proveedor}" th:remove="tag">
                            <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                                <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
                            </ul>
                        </div>
                        
                        <form th:action="@{/proveedor/form}" th:object="${proveedor}" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input type="text" th:field="*{vnombre}" class="form-control" th:errorclass="is-invalid" />
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('vnombre')}" th:errors="*{vnombre}"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Teléfono</label>
                                        <input type="text" th:field="*{ntelefono}" class="form-control" th:errorclass="is-invalid" />
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('ntelefono')}" th:errors="*{ntelefono}"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" th:field="*{vemail}" class="form-control" th:errorclass="is-invalid" />
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('vemail')}" th:errors="*{vemail}"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Cif</label>
                                        <input type="text" th:field="*{cif}" class="form-control" th:errorclass="is-invalid" />
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('cif')}" th:errors="*{cif}"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Localidad</label>
                                        <input type="text" th:field="*{vlocalidad}" class="form-control" th:errorclass="is-invalid" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Provincia</label>
                                        <input type="text" th:field="*{vprovincia}" class="form-control" th:errorclass="is-invalid" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>País</label>
                                        <input type="text" th:field="*{vpais}" class="form-control" th:errorclass="is-invalid" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Dirección</label>
                                        <input type="text" th:field="*{vdireccion}" class="form-control" th:errorclass="is-invalid" />
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end mt-3">
                                <button type="submit" class="btn btn-success">
                                    <i class="fas fa-save mr-1"></i> <span th:text="${titulo}"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>