<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="admin/admin_layout">
<head>
    <title th:text="${titulo}"></title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container-fluid px-2 px-md-3">
            <section class="content-header">
                <div class="card">
                    <div class="card-header">
                        <i class="fas fa-file-invoice mr-2"></i> <span th:text="${titulo}"></span>
                    </div>
                    
                    <div class="toolbar">
                        <a th:href="@{'/ver/' + ${albaran.cliente.id}}" class="btn btn-outline-primary btn-sm">
                            <i class="fas fa-arrow-left mr-1"></i> Volver
                        </a>
                        <a th:href="@{/albaranes/listarAlbaranes}" class="btn btn-outline-primary btn-sm">
                            <i class="fas fa-list mr-1"></i> Listar Albaranes
                        </a>
                    </div>

                    <div class="card-body">
                        <form th:action="@{/albaranes/form/}" enctype="multipart/form-data" th:object="${albaran}" method="post">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Cliente</label>
                                        <input th:value="${albaran.cliente.nombre} + ' ' + ${albaran.cliente.apellido}" class="form-control" disabled />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="lugar">Obra</label>
                                        <input type="text" th:field="*{lugar}" class="form-control" th:errorclass="is-invalid" />
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('lugar')}" th:errors="*{lugar}"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="date">Fecha del Albarán</label>
                                        <input class="form-control" id="date" name="dfechavenci" type="date" />
                                        <small class="form-text text-danger" th:if="${#fields.hasErrors('dfechavenci')}" th:errors="*{dfechavenci}"></small>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Nº Albarán</label>
                                        <input type="text" th:field="*{numeroAlbaran}" class="form-control" th:errorclass="is-invalid" />
                                        <small class="form-text text-danger" th:if="${#fields.hasErrors('numeroAlbaran')}" th:errors="*{numeroAlbaran}"></small>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Proveedor</label>
                                        <select class="form-control" th:field="*{proveedor}">
                                            <option th:each="proveedor:${proveedores}" th:value="${proveedor.id}" th:text="${proveedor.vnombre}" />
                                        </select>
                                        <small class="form-text text-danger" th:if="${#fields.hasErrors('proveedor')}" th:errors="*{proveedor}"></small>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="buscar_producto">Buscar producto</label>
                                        <input type="text" name="buscar_producto" id="buscar_producto" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive mt-3">
                                <table th:replace="albaran/plantilla-items :: itemsFactura"></table>
                                <table id="cargarItemProductos" class="table table-sm table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Cantidad</th>
                                            <th>Eliminar</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <h5>Total <span class="badge badge-secondary" id="gran_total">0</span></h5>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="observacion">Observación</label>
                                        <textarea th:field="*{observacion}" class="form-control" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="file">Foto</label>
                                        <input type="file" name="file" class="form-control-file" />
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end mt-3 gap-2">
                                <button type="reset" class="btn btn-secondary">
                                    <i class="fas fa-undo mr-1"></i> Resetear
                                </button>
                                <button type="submit" class="btn btn-success">
                                    <i class="fas fa-save mr-1"></i> <span th:text="${titulo}"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
    
    <script th:replace="factura/js/listarproductos :: javascript"></script>
</body>
</html>